*{
  padding: 0;
  margin: 0;
}
.my-cropper{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.cropper-container{
  background: #000;
}
.btn-box{
 
  background: #1e8ed0;
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 6vh;
  line-height: 6vh;
  color: #fff;
}
.btn-item{
  width: 50%;
  display: inline-block;
  text-align: center;
}
.cancel-btn{
  background: #41a8e4;
}